.page__testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  padding-top: 48px;
}

.testimony {
  min-width: 200px;
  min-height: 150px;
  max-width: 200px;
  max-height: 150px;
}

.page__testimony__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
}
